//=============================================================================
// Styles for forms
//=============================================================================
form{
	position: relative;
	width: $gridStd;
	@include clearfix;

	//=============================================================================
	// Standard Inputs
	//=============================================================================
	input, [rel="preview"], textarea{
		border: 1px solid $colorSoft;
		border-radius: 3px;
		padding: 0 4px;
		font-size: 14px;
		line-height: 30px;
		color: $color;

		@include transition(border 0.25s linear);
		&:hover{border: 1px solid $color;}
		&:focus{
			border: 1px solid $color-hover;
			outline: none;
		}

		//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
		// Buttons
		//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
		&[type="submit"], &[type="button"]{
			float: right;
			@include button(#fff);
			padding: 0 16px;
		}
	}
	label{cursor: pointer;}

	//=============================================================================
	// Label/Input groups
	//=============================================================================
	.group{
		position: relative;
		margin-bottom: 16px;
		&.chosen{margin-bottom: 6px;}

		@include clearfix;
		label{width: $gridStd * .25}
		input, [rel="preview"], textarea{width: $gridStd * .75 - 10}
		select{
			width: $gridStd * .75 - 2;
			max-height: 200px;
		}
		label, input, select, [rel="preview"]{
			margin: 0;
			display: block;
			float: left;
		}
		textarea{
			height: 100px;
			font-size: 14px;
			line-height: 21px;
		}
		[rel="preview"]{
			padding: 10px 4px;
			border: 1px dashed $colorSoft;
		}

		//=============================================================================
		// Chosen Library
		//=============================================================================
		.chzn-container-multi{
			width: $gridStd * .75 !important;
			font-size: 14px;
			.chzn-choices{
				background: #fff;
				border-radius: 3px;
				padding: 0 4px;

				@include transition(border 0.25s linear);
				&:hover{border: 1px solid $color;}
				&:focus{border: 1px solid $color-hover;}
			}
			.search-field input{
				padding: 0 4px;
				height: 30px;
			}
			.chzn-drop{
				width: $gridStd * .75 - 2 !important;
			}
			.search-choice{margin-top: 5px;}
		}
		.chzn-container-active{
			.chzn-choices{border: 1px solid $color-hover !important;}
			.search-field input{color: $color !important;}
		}
	}
}