.front-page{
	@include animation(fadeIn 1s ease-in);

	#the-page{
		//=============================================================================
		// Common
		//=============================================================================
		> section{
			width: 700px;
			margin: auto;
			>h2{text-align: center}
		}

		//=============================================================================
		// Scene: Title
		//=============================================================================
		#scene-title{
			margin-top: 160px;
		}
	}
}

//###########################################################################
// Animations
//###########################################################################
@include keyframes(fadeIn){
	from{opacity: 0}
	to{opacity: 1}
}