$openSans: 'Open Sans', sans-serif;

$color: 		#505050;
$color-hover: 	#222;
$colorSoft: 	#aaa;
$colorLink: 	#eb6c57;
$colorLink-hover: darken($colorLink, 20%);
$colorGhost: 	#efefef;

$red: 			#eb6c57;

$gridStd: 		700px;